
.hosting {
  margin-top: 80px;
}

.hosting__title {
  margin-top: 0;
  font-family: $font-inter;
  font-weight: 800;
  font-size: 45px;
  line-height: 64px;
  color: $secondary-color;
}

.hosting__paragraraph {
  font-family: $font-inter;
  font-size: 18px;
  line-height: 32px;
}

.hosting__partners {
  margin-top: -20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.cards__card {
  margin-top: 100px;

  .card__title {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }

  .card__paragraph {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #b0000026;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 50%;
  }

  &:nth-child(1)::before {
    background-image: url(../../img/card1.svg);
  }
  &:nth-child(2)::before {
    background-image: url(../../img/card2.svg);
  }
  &:nth-child(3)::before {
    background-image: url(../../img/card3.svg);
  }
  &:nth-child(4)::before {
    background-image: url(../../img/card4.svg);
  }
}


@media (max-width: 992px) {

  .hosting__title {
    font-size: 35px;
  }
  
  .hosting__partners {
    margin-top: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .hosting__partners {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}